
.css {
	position: absolute;
	background:#6495c4;
	width: 30px;
	height: 30px;
	/*left: 235px;
	top: -15px;*/
	border: 3px solid rgb(0, 0, 0);
	    border-radius: 40px;
	   -webkit-border-radius: 19px;
	   -moz-border-radius: 19px;
}
.win{
	position: absolute;
	background:#6495c4;	
	border: 3px solid rgb(0, 0, 0);
	    border-radius: 40px;
	   -webkit-border-radius: 40px;
	   -moz-border-radius: 40px;
	width: 40px;
	height: 40px;
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
	}
  }
  @keyframes pulse {
	0% {
	  -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
	  box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.4);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.4);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
	}
  }

#round {	
	font-family: 'Lato', sans-serif;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 70px;
	width: 500px;
	text-align: center;
	height: 500px;
	border: 5px solid #6495c4;
	    border-radius: 250px;
	   -webkit-border-radius: 250px;
	   -moz-border-radius: 250px;
	
}

.rollButton {
	outline: none;
	position: absolute;
	left: 190px;
	top: 190px;
    background: #f2f6f8; /* Цвет фона */
    border: 1px solid #7a7b7e; /* Параметры рамки */
    width: 120px; /* Ширина кнопки */
    height: 120px; /* Высота */
	border-radius: 120px;
	transition: .3s;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	box-shadow: 0px 0px 5px .5px rgba(100, 149, 196, 0.75);
   }
   .rollButton:hover{
	   transition: .3s;
	   background: #cad0d3; /* Цвет фона */
	   transform: scale(1.1);
	   box-shadow: 0px 0px 5px 2.5px rgba(100, 149, 196, 0.75);
   }